h1.redtext {
    font-size: 40px;
    border: 1px solid black;

}

.redtext {
    color: red;
}

.bluetext {
    color: blue;
}

.pinkbackground {
    background-color: pink;
}

ol li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}